*{
    box-sizing: border-box;
    width: auto;
    margin: 0;
}


body{
    margin: 0 auto;
    background-color: #FDF5D8;
}
/* HEADER */

/* Texto HEADER */
.header{
    display: flex;
    flex-direction: column;
}

.superior{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6E4139;
    padding-inline: 85px;
}

.inferior{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding-inline: 85px;
    height: 50px;
}
.header div{
    display: flex;
    gap: 8px;
}

.header div a{
    text-decoration: none;
    color: #FDF5D8;
    font-size: 24px;
}

header .link-header{
    display: flex;
    align-items: center;
    gap: 8px;
}

/*
Imagens HEADER
*/

.header div img{
    width: 24px;
    height: 24px;
}


#logo{
    width: 120px;
    height: 120px;
}


/* BODY */

.divbody{
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 60px;
    margin-top: 80px;
}

.divbody div h1{
    font-size: 36px;
}

.divbody div p1{
    font-size: 24px;
}

.divbody div p2{
    font-size: 24px;
}

#rpg{
    width: 530px;
    height: 530px;
    border-radius: 30px;
}

.conteudo-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6E4139;
    padding-inline: 85px;
}

footer {
    background-color: #6E4139;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 18px; 
    color: white;
}

.footer-container {
    display: flex;
    justify-content: space-around;
}

footer ul li {
    margin-bottom: 4px;
}

.lista-titulo-footer {
    margin-bottom: 12px;
}

footer{
    margin-top: 15px;
    }

@media screen and (max-width: 375px){
    .footer-container {
        display: flex;
        justify-content: space-around;
        text-align: center;
        flex-direction: column;
        gap: 24px;
    }
}

footer ul li {
    margin-bottom: 0px;
}

.lista-titulo-footer {
    margin-bottom: 8px;
    text-align: center;
}

footer {
    width: 160%;
  }
footer{
    margin-top: 15px;
    }
